@import "../Home.scss";

.header{
    width: 100%;
    height: 80px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .brand{
  color: $color;
  font-family: $theme-font;
  display: flex;
  align-items: center;
}

.header .brand span{
  font-weight: 600;
}

.header .brand .header__img{
    height: 55px;
    margin: 0 8px 0 18px;
}
.header__menu{
    position: relative;
    margin-right: 18px;
    display: flex;
    align-items: center;
    color: $color;
    font-family: $theme-font;
}
.header__menu img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 8px;
}
.header__menu p{
  margin:0
}

.header__menu ul{
    padding: 10px 0;
    display: none;
    position: absolute;
    text-align: right;
    list-style: none;
    width: 90px;
    top: 40px;
    right: 0px;
}
.header__menu:hover ul, ul:hover{
    display: block;
}
.header__menu li{
  padding: 14px 0;
}
.header__menu a{
    text-decoration: none;
    color: $color;
    font-family: $theme-font;
}
.header__menu a:hover{
    color: #575155;
}
