@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

$theme-font: 'Balsamiq Sans', cursive;
$background: linear-gradient(to left bottom, #845ec2, #644892, #453364, #291f3a, #0e0814);
$color: #ffffff; 